# Uncertainty Quantification

## Overview
    we will analyze why we cannot get the right count for some transcripts using the output of salmon.

## Analyze tools
    we will mainly use dataframe of pandas to analyze the data.

In [1]:
import math
import tsv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline

## root path

In [2]:
root_path = "../data/poly_mo/"

# data Preprocess

## Poly Truth
    Read the file poly_truth.tsv
    Poly_truth.tsv: true counts for each transcript

In [3]:
# Poly_truth.tsv: true counts for each transcript
poly_truth = open(root_path+"poly_truth.tsv")
lines = poly_truth.readlines()
poly_truth.close()
# print l
count = 0
poly_truth = []
for line in lines:
    line = line[:-1]
    l = line.split('\t')
    poly_truth.append(l)

df_poly_truth = pd.DataFrame.from_records(poly_truth[1:], columns=poly_truth[0])

In [4]:
df_poly_truth['transcript_id']=df_poly_truth['transcript_id'].astype(str)
df_poly_truth['count']=df_poly_truth['count'].astype(int)

In [5]:
id_in_true_count = df_poly_truth.transcript_id

## Quant_bootstraps
    Read the file quant_bootstraps.tsv
    Quant_bootstraps.tsv :containing the matrix of bootstrap experiments containing the final count for each transcript in each round of bootstrapping with a row be a bootstrap output and columns be list of transcripts.

In [6]:
# Quant_bootstraps.tsv :containing the matrix of bootstrap experiments 
# containing the final count for each transcript in each round of bootstrapping 
# with a row be a bootstrap output and columns be list of transcripts. 

quant_bootstraps = tsv.TsvReader(open(root_path+"quant_bootstraps.tsv"))
count = 0
quant_boot = []
for parts in quant_bootstraps:
    quant_boot.append(parts)
#     print len(parts)
# print(len(quant_boot))

In [7]:
df_quant_boot = pd.DataFrame.from_records(quant_boot[1:], columns=quant_boot[0])
# print(len(quant_boot[1,:]))

In [8]:
df_quant_boot = df_quant_boot.astype('float')

In [9]:
df_quant_boot_mean = df_quant_boot.mean()

In [10]:
df_quant_boot_std = df_quant_boot.std()

In [11]:
type(df_quant_boot_mean)

pandas.core.series.Series

In [12]:
id_in_quant_boot = list(df_quant_boot.columns)

### Get All use id
#### Attention: there are some ids in truth_id but not in quant_boot

In [13]:
sort_qb = []
use_id = []
for id in id_in_true_count:
    try:
        listed = list(df_quant_boot[id])        
    except KeyError:
#         print('has No '+id) # there are some ids in truth_id but not in quant_boot
        pass
    else:
        use_id.append(id)

## Get the distance between true_count and mean of bootstrapping

### solve the distance of use_id

In [14]:
df_poly_truth = df_poly_truth.set_index(['transcript_id'])

In [15]:
# dist = []
dist=[]
for id in use_id:
    mean = df_quant_boot_mean[id]
    true_count = df_poly_truth.loc[id]
    distance = true_count - mean
    distance = float(distance)
#     dist['id']=distance
    dist.append(distance)

In [16]:
df_quant_boot_mean[use_id].head(10)

ENST00000608495       0.000000
ENST00000382369      45.651584
ENST00000360321      41.580917
ENST00000400269      70.977499
ENST00000382352    2035.750000
ENST00000342665    1996.815000
ENST00000609179     183.390000
ENST00000217233     268.623238
ENST00000449710     233.963500
ENST00000422053     198.303262
dtype: float64

In [17]:
df_poly_truth.head(10)

                 count
transcript_id
ENST00000608495      1
ENST00000382369     55
ENST00000360321     54
ENST00000400269     92
ENST00000382352   2653
ENST00000342665   2804
ENST00000609179    261
ENST00000217233    382
ENST00000449710    350
ENST00000422053    259

In [151]:
dist[0:10]

[1.0,
 9.348416156131513,
 12.419082890042489,
 21.022500953824533,
 617.25,
 807.185,
 77.61000000000001,
 113.37676185160501,
 116.03649973953998,
 60.696738408914996]

### get the distance of  extended true_id

In [67]:
# extend_id = list(set(id_in_quant_boot).difference(set(use_id)))
# use_id.extend(extend_id)

In [68]:
# for id in extend_id:
#     mean = df_quant_boot_mean[id]
#     true_count = 0
#     distance = mean - true_count
#     dist.append(distance)

### add label for the list
    set distance as label for every transcript_id
    And them we will merge this labeled list with list of properties in order to get a list which include both properties and label of every transcript.

In [18]:
labeled_id = [use_id,dist]
labeled = list(map(list,zip(*labeled_id)))

In [19]:
len(use_id)

26889

In [20]:
df_labeled_id = pd.DataFrame.from_records(labeled, columns=['Name','label'])
df_labeled_id.Name = df_labeled_id.Name.astype(str)

In [142]:
df_labeled_id.head(10)

              Name       label
0  ENST00000608495    1.000000
1  ENST00000382369    9.348416
2  ENST00000360321   12.419083
3  ENST00000400269   21.022501
4  ENST00000382352  617.250000
5  ENST00000342665  807.185000
6  ENST00000609179   77.610000
7  ENST00000217233  113.376762
8  ENST00000449710  116.036500
9  ENST00000422053   60.696738

## Read Quant.sf
    Read the quant.sf file.
    Quant.sf :estimated quantifications for each transcript

In [21]:
# Quant.sf :estimated quantifications for each transcript
quant_file = open(root_path+"quant.sf")
lines = quant_file.readlines()
quant_file.close()
count = 0
quant = []
for line in lines:
    line = line[:-1]
    l = line.split('\t')
    quant.append(l)

In [22]:
df_quant = pd.DataFrame.from_records(quant[1:], columns=quant[0])

In [23]:
df_quant.Name = df_quant.Name.astype(str)
df_quant.Length = df_quant.Length.astype(int)
df_quant.EffectiveLength = df_quant.EffectiveLength.astype(float)
df_quant.TPM = df_quant.TPM.astype(float)
df_quant.NumReads = df_quant.NumReads.astype(float)

## Merge quant.sf and labeled_id to get the useful data for training
    labeled_id is a list of transcript_id togather with label(success(true，set as 1) or fail(flase,set as 0))  
    And we will add the label with the protery from quant.sf in order to analyze the properties of different label.
    Then it will be easy for us to analyze the relation between properties and label and the difference between group of different label.

#### merge the data

In [42]:
df_labeled = df_labeled_id.merge(df_quant, on='Name')

In [43]:
label = df_labeled.pop('label')
df_labeled.insert(5,'label',label)

In [44]:
quant_boot_std = df_quant_boot_std[use_id].tolist()
quant_boot_mean = df_quant_boot_mean[use_id].tolist()

In [45]:
df_labeled.insert(5,'quant_boot_mean',quant_boot_mean)
df_labeled.insert(6,'quant_boot_std',quant_boot_std)

In [46]:
df_labeled.head(10)

,Name,Length,EffectiveLength,TPM,NumReads,quant_boot_mean,quant_boot_std,label
0,ENST00000608495,1672,1472.991,0.000000,0.000000,0.000000,0.000000,1.000000
1,ENST00000382369,1420,1220.991,1.180968,46.855146,45.651584,12.636180,9.348416
2,ENST00000360321,1575,1375.991,0.912080,40.780781,41.580917,11.378288,12.419083
3,ENST00000400269,1022,822.991,2.705958,72.364073,70.977499,10.912630,21.022501
4,ENST00000382352,3229,3029.991,20.638372,2032.000000,2035.750000,45.244811,617.250000
5,ENST00000342665,4627,4427.991,13.886148,1998.000000,1996.815000,43.162551,807.185000
6,ENST00000609179,578,379.005,14.940537,184.000000,183.390000,12.964889,77.610000
7,ENST00000217233,2499,2299.991,3.581666,267.681402,268.623238,20.353776,113.376762
8,ENST00000449710,1070,870.991,8.234501,233.054648,233.963500,20.184732,116.036500
9,ENST00000422053,1533,1333.991,4.643081,201.263950,198.303262,20.086799,60.696738

In [47]:
df_labeled.describe()

,Length,EffectiveLength,TPM,NumReads,quant_boot_mean,quant_boot_std,label
count,26889.000000,26889.000000,26889.000000,2.688900e+04,2.688900e+04,26889.000000,26889.000000
mean,2301.266912,2102.188625,37.086764,1.234117e+03,1.233602e+03,26.170774,249.739497
std,2268.852362,2268.766111,373.615192,1.284316e+04,1.284316e+04,42.920401,2376.111199
min,82.000000,9.804000,0.000000,0.000000e+00,0.000000e+00,0.000000,-57221.321454
25%,777.000000,577.998000,0.359912,1.304699e+01,1.307099e+01,4.543271,2.015000
50%,1681.000000,1481.991000,2.837799,1.174560e+02,1.167637e+02,14.520683,21.276394
75%,3016.000000,2816.991000,12.063695,5.993793e+02,5.996118e+02,32.746312,122.289517
max,101518.000000,101318.991000,23356.420222,1.109005e+06,1.109140e+06,1112.644975,207755.507950

In [49]:
data = df_labeled

In [54]:
label_list = list(data['label'])

In [56]:
sort_label_list = label_list.sort()

In [59]:
length = len(label_list)

In [64]:
low = int(0.025*length)
high =int(0.975*length)
low_bound = label_list[low]
high_bound = label_list[high]

In [50]:
mean = data['label'].mean()
std = data['label'].std()
low_bound = mean - std 
high_bound = mean + std

In [70]:
low_bound = -100
high_bound = 500
crop_data = data[(data.label>low_bound)&(data.label<high_bound)]

In [71]:
crop_data.describe()

,Length,EffectiveLength,TPM,NumReads,quant_boot_mean,quant_boot_std,label
count,24631.000000,24631.000000,24631.000000,24631.000000,24631.000000,24631.000000,24631.000000
mean,2251.108197,2052.032306,9.683958,348.495534,348.037761,18.925097,64.397585
std,2246.821306,2246.728358,79.770093,669.663690,669.439998,21.993565,103.873879
min,82.000000,9.804000,0.000000,0.000000,0.000000,0.000000,-99.054861
25%,757.000000,556.999000,0.284548,10.044040,10.085709,4.005781,1.712263
50%,1631.000000,1431.991000,2.177555,85.912751,85.505460,12.423413,16.000000
75%,2959.000000,2759.991000,8.506954,404.194722,402.335475,26.865520,80.615438
max,101518.000000,101318.991000,10710.459004,27781.336697,27796.986222,362.489285,499.915000

In [72]:
data = crop_data

# Training

## Prepare the Training data

In [73]:
import sklearn
from sklearn.utils import shuffle

## Shuffle the data

In [77]:
sfdata = shuffle(data) # make the data random
input_data = sfdata[['Length','EffectiveLength','TPM','NumReads','quant_boot_mean','quant_boot_std']]
# input_data = sfdata[['Length','EffectiveLength','quant_boot_mean','quant_boot_std']]
# input_data = sfdata[['Length','EffectiveLength','TPM','NumReads']]
input_label = sfdata['label']

In [78]:
sfdata.describe()

,Length,EffectiveLength,TPM,NumReads,quant_boot_mean,quant_boot_std,label
count,24631.000000,24631.000000,24631.000000,24631.000000,24631.000000,24631.000000,24631.000000
mean,2251.108197,2052.032306,9.683958,348.495534,348.037761,18.925097,64.397585
std,2246.821306,2246.728358,79.770093,669.663690,669.439998,21.993565,103.873879
min,82.000000,9.804000,0.000000,0.000000,0.000000,0.000000,-99.054861
25%,757.000000,556.999000,0.284548,10.044040,10.085709,4.005781,1.712263
50%,1631.000000,1431.991000,2.177555,85.912751,85.505460,12.423413,16.000000
75%,2959.000000,2759.991000,8.506954,404.194722,402.335475,26.865520,80.615438
max,101518.000000,101318.991000,10710.459004,27781.336697,27796.986222,362.489285,499.915000

In [79]:
from sklearn import preprocessing

In [80]:
max_abs_scaler = preprocessing.MaxAbsScaler()
input_data = max_abs_scaler.fit_transform(input_data)

In [81]:
train = int(len(input_data)*9/10)
test = train+1
train_data = input_data[0:train]
train_label = input_label[0:train]
test_data = input_data[test:]
test_label = input_label[test:]

In [82]:
# train_data = train_data.as_matrix()
train_label = train_label.as_matrix()
# test_data = test_data.as_matrix()
test_label = test_label.as_matrix()

In [172]:
train_label[0:5]

array([  1.43202107e+03,   3.00000000e-02,   1.00000000e+00,
        -1.15000000e-01,   5.47762579e+01])

In [ ]:
# trian_data = np.reshape(train_data,(83798,6,1))

## Some models

In [83]:
def cal_mse(regr,test_label):
    error = (regr-test_label)
#     error = error.tolist()
#     error_sq = error.apply(square)
    error_sq = error**2
    mse = error_sq.sum()/len(error)
    return mse

## Linear Regression

In [84]:
from sklearn.linear_model import LinearRegression

In [85]:
lr = LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)

In [86]:
lr.fit(train_data,train_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [87]:
pred = lr.predict(test_data)

In [95]:
lr_mse = cal_mse(pred,test_label)

In [98]:
print('pred:',pred[0:10])
print('test_label:',test_label[0:10])

pred: [ 110.78834046   14.50810812  200.85525836   26.62972823  114.38648667
   15.75666115   20.80373501   31.64827039  132.03518145   12.32168747]
test_label: [  1.83275000e+02   1.05000000e-01   4.60120000e+02   1.59423661e+01
   2.81069181e+01   4.94984167e+00   1.06086644e+01   2.75871509e+01
   2.46143896e+01   2.00000000e+00]

In [99]:
norm_mse = lr_mse/pow(input_label.mean(),2)

In [100]:
norm_mse

1.1061969643956902

## SVR

In [278]:
from sklearn.svm import SVR

In [368]:
clf = SVR(C=1.0, epsilon=0.5,degree=3)
clf.fit(train_data,train_label)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.5, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [369]:
pred_train = clf.predict(train_data)

In [370]:
svr_mse = cal_mse(pred_train,train_label)

In [373]:
svr_mse

10878.022664512362

In [366]:
pred_train[0:10]

array([  8.41611125,  46.05230152,  16.08158446,   8.93416685,
        33.02035712,  14.66668966,  23.12158206,  60.24259061,
        17.21779589,   8.09718471])

In [367]:
train_label[0:10]

array([   0.99996856,   50.22144742,    5.04292022,    1.015     ,
        191.755     ,   40.75      ,   84.11433976,  350.40357262,
         39.11198729,    6.        ])

In [284]:
svr_regr = clf.predict(test_data)

In [285]:
svr_regr[0:10]

array([ 41.48914957,  16.9931786 ,  34.24751473,  18.57205314,
        30.88205969,  29.08357429,  29.18115248,  16.24141727,
        22.4924437 ,  18.68651326])

In [286]:
test_label[0:10]

array([ 1235.42086428,   248.99801456,   336.25653561,     7.97612105,
         187.90236347,   412.0132387 ,   425.98      ,     2.        ,
         203.76843327,     2.60989124])

In [287]:
svr_mse = cal_mse(svr_regr,test_label)

In [288]:
svr_mse

99151.508697944606

In [374]:
norm_mse = svr_mse/pow(input_label.mean(),2)

In [375]:
norm_mse

2.6230755716383691

## PCA

In [376]:
from sklearn.decomposition import PCA

In [377]:
pca = PCA(n_components=2, svd_solver='full')

In [378]:
pca.fit(input_data)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='full', tol=0.0, whiten=False)

In [379]:
print(pca.explained_variance_ratio_) 
print(pca.singular_values_)

[ 0.73766522  0.15603747]
[ 10.33539709   4.75348326]

In [380]:
input_pca = pca.fit_transform(input_data)

In [381]:
input_pca[0:10]

array([[-0.05585031, -0.0028284 ],
       [ 0.11209986, -0.00848253],
       [-0.02199241, -0.00924771],
       [-0.0540954 , -0.02182653],
       [ 0.0496896 , -0.0083233 ],
       [-0.02870935, -0.01913153],
       [ 0.00769532, -0.02500819],
       [ 0.16710427, -0.03144193],
       [-0.01705636, -0.01323379],
       [-0.05766413, -0.01560465]])

In [382]:
input_label[0:10]

18612      0.999969
6309      50.221447
25367      5.042920
20352      1.015000
6419     191.755000
21887     40.750000
23458     84.114340
18278    350.403573
24575     39.111987
25001      6.000000
Name: label, dtype: float64

In [383]:
train_pca = pca.fit_transform(train_data)

In [384]:
clf = SVR(C=1.0, epsilon=0.2)
clf.fit(train_pca,train_label)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [385]:
test_pca = pca.fit_transform(test_data)

In [386]:
svr_regr = clf.predict(test_pca)

In [387]:
svr_regr[0:10]

array([ 17.73882728,  36.68180547,  59.05316141,   2.78602692,
        14.73803082,  65.50617663,  26.83824662,  69.525563  ,
        85.77890488,   8.23928275])

In [388]:
test_label[0:10]

array([  -8.51302934,   21.28025713,  178.68      ,    1.36711589,
         33.16327189,  498.20874048,   23.59336652,  177.25      ,
        168.42398211,    5.34222427])

In [390]:
mse = cal_mse(svr_regr,test_label)

In [391]:
mse

7652.7811398311023

## Neural Network

In [101]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Activation
from keras.layers import Dropout

Using TensorFlow backend.

In [102]:
model = Sequential()
model.add(Dense(1, input_shape=(6,)))
model.add(Activation('relu'))
model.add(Dense(12))
model.add(Activation('relu'))
model.add(Dense(1))
# sgd = keras.optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
# rmsp = keras.optimizers.RMSprop(lr=0.001, rho=0.9, epsilon=1e-06)
adam = keras.optimizers.Adam(lr=0.1, beta_1=0.9, beta_2=0.99999, epsilon=1e-08, decay=0.0)
model.compile(optimizer=adam,loss='mse')

In [ ]:
model.fit(train_data, train_label, epochs=100, batch_size=16)

Epoch 1/100
22167/22167 [==============================] - 1s 63us/step - loss: 3548.2508
Epoch 2/100
22167/22167 [==============================] - 2s 74us/step - loss: 3550.0217
Epoch 3/100
22167/22167 [==============================] - 2s 73us/step - loss: 3617.6281
Epoch 4/100
22167/22167 [==============================] - 2s 69us/step - loss: 3590.8877
Epoch 5/100
22167/22167 [==============================] - 2s 70us/step - loss: 3532.0348
Epoch 6/100
11488/22167 [==============>...............] - ETA: 0s - loss: 3710.4013

In [414]:
pred = model.predict(test_data)

In [415]:
test_pred=[]
for p in pred:
    test_pred.append(p[0])

In [416]:
test_pred[0:10]

[7.5220795,
 69.615051,
 227.82852,
 -2.5987282,
 9.7582932,
 275.77756,
 14.596722,
 270.15765,
 134.88327,
 -0.15851593]

In [417]:
test_label[0:10]

array([  -8.51302934,   21.28025713,  178.68      ,    1.36711589,
         33.16327189,  498.20874048,   23.59336652,  177.25      ,
        168.42398211,    5.34222427])

In [418]:
cal_mse(test_pred,test_label)

3541.6957565645484

In [399]:
t_pred = model.predict(train_data)

In [404]:
t_pred[0:10]

array([[  -3.02978897],
       [  45.68602371],
       [  10.17147064],
       [  -1.48428345],
       [ 226.23809814],
       [  12.46229935],
       [  78.30187988],
       [ 297.07312012],
       [  12.16233444],
       [  -3.06142044]], dtype=float32)

In [407]:
train_pred=[]
for tpred in t_pred:
    train_pred.append(tpred[0])

In [408]:
train_pred[0:10]

[-3.029789,
 45.686024,
 10.171471,
 -1.4842834,
 226.2381,
 12.462299,
 78.30188,
 297.07312,
 12.162334,
 -3.0614204]

In [406]:
train_label[0:10]

array([   0.99996856,   50.22144742,    5.04292022,    1.015     ,
        191.755     ,   40.75      ,   84.11433976,  350.40357262,
         39.11198729,    6.        ])

In [402]:
error = t_pred - train_label

In [405]:
error[0:10]

array([[  -4.02975754,  -53.25123639,   -8.07270919, ..., -121.59132869,
          -6.32978897,  -21.45839843],
       [  44.68605515,   -4.53542371,   40.64310349, ...,  -72.87551601,
          42.38602371,   27.25741426],
       [   9.17150208,  -40.04997678,    5.12855042, ..., -108.39006908,
           6.87147064,   -8.25713881],
       ...,
       [ 296.07315155,  246.85167269,  292.03019989, ...,  178.51158039,
         293.77312012,  278.64451066],
       [  11.16236588,  -38.05911298,    7.11941422, ..., -106.39920528,
           8.86233444,   -6.26627501],
       [  -4.06138901,  -53.28286786,   -8.10434066, ..., -121.62296016,
          -6.36142044,  -21.4900299 ]])

In [409]:
cal_mse(train_pred,train_label)

3487.3102630350927