In [1]:
import tsv
import numpy as np
import pandas as pd

# data Preprocess

## Poly Truth

In [2]:
# Poly_truth.tsv: true counts for each transcript
poly_truth = open("../data/poly_mo/poly_truth.tsv")
lines = poly_truth.readlines()
poly_truth.close()
# print l
count = 0
poly_truth = []
for line in lines:
    line = line[:-1]
    l = line.split('\t')
    poly_truth.append(l)

df_poly_truth = pd.DataFrame.from_records(poly_truth[1:], columns=poly_truth[0])

In [6]:
df_poly_truth['transcript_id']=df_poly_truth['transcript_id'].astype(str)
df_poly_truth['count']=df_poly_truth['count'].astype(int)

In [7]:
df_poly_truth.describe()

              count
count  2.695900e+04
mean   1.483678e+03
std    1.504054e+04
min    1.000000e+00
25%    1.700000e+01
50%    1.420000e+02
75%    7.350000e+02
max    1.316896e+06

In [8]:
df_poly_truth.head(5)

     transcript_id  count
0  ENST00000608495      1
1  ENST00000382369     55
2  ENST00000360321     54
3  ENST00000400269     92
4  ENST00000382352   2653

In [9]:
truth_id = df_poly_truth.transcript_id

## Quant_bootstraps

In [10]:
# Quant_bootstraps.tsv :containing the matrix of bootstrap experiments 
# containing the final count for each transcript in each round of bootstrapping 
# with a row be a bootstrap output and columns be list of transcripts. 

#??? what's the meaning? count of every round?
quant_bootstraps = tsv.TsvReader(open("../data/poly_mo/quant_bootstraps.tsv"))
count = 0
quant_boot = []
for parts in quant_bootstraps:
    quant_boot.append(parts)
#     print len(parts)
print(len(quant_boot))

201

In [11]:
df_quant_boot = pd.DataFrame.from_records(quant_boot[1:], columns=quant_boot[0])
# print(len(quant_boot[1,:]))

## Sort the quant_boot Results
### Attention: there are some ids in truth_id but not in quant_boot

In [16]:
sort_qb = []
id_qb = []
for id in truth_id:
    try:
        listed = list(df_quant_boot[id])        
    except KeyError:
#         print('has No '+id) # there are some ids in truth_id but not in quant_boot
        pass
    else:
        id_qb.append(id)
#         print(listed[:100])
        listed.sort()
#         print(sorted[:100])
        sort_qb.append(listed)
#         df_quant[id] = df_quant

In [17]:
print(len(sort_qb))

26889

### reverse sort_qb

In [23]:
sort_qb = list(map(list,zip(*sort_qb)))

In [24]:
type(sort_qb)

list

In [25]:
print(len(sort_qb))

200

In [26]:
df_qb_sorted = pd.DataFrame.from_records(sort_qb, columns=id_qb)

In [28]:
df_qb_sorted.head(2)

,ENST00000608495,ENST00000382369,ENST00000360321,ENST00000400269,ENST00000382352,ENST00000342665,ENST00000609179,ENST00000217233,ENST00000449710,ENST00000422053,...,ENST00000361739,ENST00000361851,ENST00000361899,ENST00000362079,ENST00000361227,ENST00000361335,ENST00000361381,ENST00000361567,ENST00000361681,ENST00000361789
0,0.0,19.2729016885,13.4652837511,100.773199385,1921.0,1886.0,150.0,215.551894472,177.43377951,146.929556377,...,338731.0,7922.0,224444.0,349450.0,30448.0,22177.0,415092.0,208400.0,71696.0,153866.0
1,0.0,21.1225204153,15.4563808178,103.560523071,1928.0,1896.0,154.0,220.509495014,186.363185866,150.305510835,...,338822.0,7926.0,224586.0,349482.0,30461.0,22201.0,415373.0,208612.0,71762.0,154379.0

In [59]:
df_qb_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Columns: 26889 entries, ENST00000608495 to ENST00000361789
dtypes: object(26889)
memory usage: 41.0+ MB

In [29]:
use_id = id_qb

## Filter the False

In [ ]:
df_poly_truth = df_poly_truth.set_index(['transcript_id'])

In [52]:
sum = len(sort_qb)
percent2dot5 = df_qb_sorted.loc[int(sum*0.025)]
percent97dot5 = df_qb_sorted.loc[int(sum*0.975)]

In [64]:
true_id = []
false_id = []
for id in use_id:
    down = float(percent2dot5[id])
    up = float(percent97dot5[id])
    true_count = df_poly_truth.loc[id]
    true_count = float(true_count)
    if true_count>down and true_count<up:
        true_id.append(id)
    else:
        false_id.append(id)

## Problem: why so many False? May be Wrong

In [65]:
print(len(true_id))
print(len(false_id))

9202
17687

## Quant.sf

In [22]:
# Quant.sf :estimated quantifications for each transcript
quant = open("../data/poly_mo/quant.sf")
lines = quant.readlines()
# print l
count = 0
quant = []
for line in lines:
    line = line[:-1]
    l = line.split('\t')
    quant.append(l)
# print quant[0:100]

#     print len(l)
#     if len(l) <> 5:
#         print "error"
#         break

In [5]:
df = pd.DataFrame.from_records(quant[1:], columns=quant[0])

In [6]:
df.describe()

                   Name Length EffectiveLength       TPM  NumReads
count             93109  93109           93109     93109     93109
unique            93109   8668            8665     28913     22792
top     ENST00000532502    582         383.005  0.000000  0.000000
freq                  1    315             315     63340     63133

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93109 entries, 0 to 93108
Data columns (total 5 columns):
Name               93109 non-null object
Length             93109 non-null object
EffectiveLength    93109 non-null object
TPM                93109 non-null object
NumReads           93109 non-null object
dtypes: object(5)
memory usage: 3.6+ MB

In [8]:
df.head(5)

              Name Length EffectiveLength       TPM  NumReads
0  ENST00000382410    587         388.005  0.000000  0.000000
1  ENST00000382398    655         456.001  0.000000  0.000000
2  ENST00000382388    514         315.007  0.000000  0.000000
3  ENST00000334391    373         174.012  0.000000  0.000000
4  ENST00000246105    698         499.000  0.000000  0.000000

In [13]:
df.Name = df.Name.astype(str)
df.Length = df.Length.astype(int)
df.EffectiveLength = df.EffectiveLength.astype(float)
df.TPM = df.TPM.astype(float)
df.NumReads = df.NumReads.astype(float)

In [14]:
df.head(5)

              Name  Length  EffectiveLength  TPM  NumReads
0  ENST00000382410     587          388.005  0.0       0.0
1  ENST00000382398     655          456.001  0.0       0.0
2  ENST00000382388     514          315.007  0.0       0.0
3  ENST00000334391     373          174.012  0.0       0.0
4  ENST00000246105     698          499.000  0.0       0.0

In [15]:
df.describe()

              Length  EffectiveLength           TPM      NumReads
count   93109.000000     93109.000000  93109.000000  9.310900e+04
mean     2008.924164      1810.144491     10.740100  3.579084e+02
std      2132.499138      2132.174682    201.478857  6.924434e+03
min        21.000000         9.784000      0.000000  0.000000e+00
25%       640.000000       441.002000      0.000000  0.000000e+00
50%      1344.000000      1144.991000      0.000000  0.000000e+00
75%      2640.000000      2439.991000      0.173865  6.000000e+00
max    109224.000000    109024.991000  23356.420222  1.109005e+06

## Eq_classes.txt

In [ ]:
# Eq_classes.txt: list of equivalence classes and their information