In [1]:
import tsv

In [2]:
# Poly_truth.tsv: true counts for each transcript
truth = tsv.TsvReader(open("../data/poly_mo/poly_truth.tsv"))
count1 = 0
for parts in truth:
    # Here parts is a list of strings, one per tab-separated column.
    # Make sure you handle not having enough fields, or not being able to
    # parse numbers where you expect them.
    # print("Record with {} fields: {}".format(len(parts), parts))
    count1 = count1 + 1
#     print parts

In [3]:
# Quant_bootstraps.tsv :containing the matrix of bootstrap experiments 
# containing the final count for each transcript in each round of bootstrapping 
# with a row be a bootstrap output and columns be list of transcripts.
quant_bootstraps = tsv.TsvReader(open("../data/poly_mo/quant_bootstraps.tsv"))
count = 0
for parts in quant_bootstraps:
    # Here parts is a list of strings, one per tab-separated column.
    # Make sure you handle not having enough fields, or not being able to
    # parse numbers where you expect them.
    # print("Record with {} fields: {}".format(len(parts), parts))
    count = count + 1
    # print len(parts)
print count

201

In [2]:
# Quant.sf :estimated quantifications for each transcript
quant = open("../data/poly_mo/quant.sf")
lines = quant.readlines()
# print l
count = 0
quant = []
for line in lines:
    line = line[:-1]
    l = line.split('\t')
    quant.append(l)
print quant[0:100]

#     print len(l)
#     if len(l) <> 5:
#         print "error"
#         break

[['Name', 'Length', 'EffectiveLength', 'TPM', 'NumReads'], ['ENST00000382410', '587', '388.005', '0.000000', '0.000000'], ['ENST00000382398', '655', '456.001', '0.000000', '0.000000'], ['ENST00000382388', '514', '315.007', '0.000000', '0.000000'], ['ENST00000334391', '373', '174.012', '0.000000', '0.000000'], ['ENST00000246105', '698', '499.000', '0.000000', '0.000000'], ['ENST00000382376', '2121', '1921.991', '0.000000', '0.000000'], ['ENST00000608495', '1672', '1472.991', '0.000000', '0.000000'], ['ENST00000382369', '1420', '1220.991', '1.180968', '46.855146'], ['ENST00000360321', '1575', '1375.991', '0.912080', '40.780781'], ['ENST00000400269', '1022', '822.991', '2.705958', '72.364073'], ['ENST00000382352', '3229', '3029.991', '20.638372', '2032.000000'], ['ENST00000342665', '4627', '4427.991', '13.886148', '1998.000000'], ['ENST00000544632', '2868', '2668.991', '0.000000', '0.000000'], ['ENST00000382291', '2088', '1888.991', '0.000000', '0.000000'], ['ENST00000382285', '1047', '847.991', '0.000000', '0.000000'], ['ENST00000470439', '697', '498.000', '0.000000', '0.000000'], ['ENST00000609179', '578', '379.005', '14.940537', '184.000000'], ['ENST00000609504', '582', '383.005', '0.000000', '0.000000'], ['ENST00000608875', '941', '741.998', '0.000000', '0.000000'], ['ENST00000608736', '712', '513.000', '0.000000', '0.000000'], ['ENST00000217233', '2499', '2299.991', '3.581666', '267.681402'], ['ENST00000449710', '1070', '870.991', '8.234501', '233.054648'], ['ENST00000422053', '1533', '1333.991', '4.643081', '201.263950'], ['ENST00000475269', '1200', '1000.991', '0.000000', '0.000000'], ['ENST00000400247', '790', '590.998', '0.000000', '0.000000'], ['ENST00000411647', '593', '394.004', '53.189926', '680.984898'], ['ENST00000441733', '961', '761.998', '0.000000', '0.000000'], ['ENST00000414880', '765', '565.999', '0.055193', '1.015102'], ['ENST00000356286', '2774', '2574.991', '0.000000', '0.000000'], ['ENST00000353660', '2511', '2311.991', '0.000000', '0.000000'], ['ENST00000382181', '2208', '2008.991', '0.000000', '0.000000'], ['ENST00000354200', '4466', '4266.991', '5.380345', '746.000000'], ['ENST00000609525', '581', '382.005', '0.000000', '0.000000'], ['ENST00000400227', '1483', '1283.991', '0.000000', '0.000000'], ['ENST00000349736', '4299', '4099.991', '0.000000', '0.000000'], ['ENST00000217244', '4416', '4216.991', '26.012769', '3564.480253'], ['ENST00000400217', '1451', '1251.991', '0.000000', '0.000000'], ['ENST00000460062', '552', '353.005', '15.124547', '173.488438'], ['ENST00000608066', '577', '378.005', '3.340497', '41.031309'], ['ENST00000246080', '1555', '1355.991', '0.000000', '0.000000'], ['ENST00000381962', '2698', '2487.991', '7.384458', '597.000000'], ['ENST00000488788', '2714', '2514.991', '0.000000', '0.000000'], ['ENST00000246104', '3577', '3377.991', '0.036441', '4.000000'], ['ENST00000217254', '2598', '2398.991', '0.000000', '0.000000'], ['ENST00000381944', '3060', '2860.991', '0.000000', '0.000000'], ['ENST00000541082', '1638', '1438.991', '1.160601', '54.268514'], ['ENST00000381941', '1809', '1609.991', '0.000000', '0.000000'], ['ENST00000304189', '1856', '1656.991', '0.000000', '0.000000'], ['ENST00000246100', '1619', '1419.991', '0.000571', '0.026354'], ['ENST00000381939', '1737', '1537.991', '0.490380', '24.507194'], ['ENST00000505691', '1328', '1128.991', '1.395581', '51.197938'], ['ENST00000381922', '1922', '1722.991', '0.000000', '0.000000'], ['ENST00000546022', '1702', '1502.991', '0.000000', '0.000000'], ['ENST00000217260', '2707', '2507.991', '0.000000', '0.000000'], ['ENST00000400634', '722', '523.000', '0.000000', '0.000000'], ['ENST00000381899', '704', '505.000', '45.131283', '740.587197'], ['ENST00000333082', '3686', '3486.991', '0.000000', '0.000000'], ['ENST00000335877', '4290', '4090.991', '0.000000', '0.000000'], ['ENST00000435720', '319', '120.015', '4.846424', '18.900025'], ['ENST00000381898', '921', '721.998', '27.173515', '637.512777'], ['ENST00000246015', '2042', '1842.991', '0.000000', '0.000000'], ['ENST00000438768', '1179', '979.991', '0.000000', '0.000000'], ['ENST00000381894', '1730', '1530.991', '0.020101', '1.000000'], ['ENST00000429036', '983', '783.998', '0.000000', '0.000000'], ['ENST00000400633', '1604', '1404.991', '0.000000', '0.000000'], ['ENST00000246108', '492', '293.007', '0.000000', '0.000000'], ['ENST00000409241', '1808', '1608.991', '0.000000', '0.000000'], ['ENST00000402452', '1707', '1507.991', '0.000000', '0.000000'], ['ENST00000381882', '1659', '1459.991', '0.000000', '0.000000'], ['ENST00000381873', '4995', '4795.991', '0.121964', '19.007168'], ['ENST00000381867', '5533', '5333.991', '0.311513', '53.992832'], ['ENST00000381808', '1295', '1095.991', '0.870458', '31.000000'], ['ENST00000381812', '1484', '1284.991', '0.000000', '0.000000'], ['ENST00000339987', '1404', '1204.991', '0.000000', '0.000000'], ['ENST00000360779', '1519', '1319.991', '0.000000', '0.000000'], ['ENST00000537552', '1328', '1128.991', '0.000000', '0.000000'], ['ENST00000381724', '976', '776.998', '0.000000', '0.000000'], ['ENST00000381715', '705', '506.000', '62.014285', '1019.645889'], ['ENST00000400137', '1622', '1422.991', '144.036761', '6660.125040'], ['ENST00000381719', '747', '547.999', '60.653799', '1080.052986'], ['ENST00000439640', '279', '80.078', '0.000000', '0.000000'], ['ENST00000353088', '2611', '2411.991', '0.000000', '0.000000'], ['ENST00000476071', '2800', '2600.991', '19.029813', '1608.348999'], ['ENST00000216879', '3568', '3368.991', '7.957441', '871.124452'], ['ENST00000381658', '3451', '3251.991', '29.123632', '3077.526549'], ['ENST00000350991', '1349', '1149.991', '0.000000', '0.000000'], ['ENST00000359801', '2642', '2442.991', '0.000000', '0.000000'], ['ENST00000444444', '884', '684.998', '0.000000', '0.000000'], ['ENST00000537284', '1480', '1280.991', '0.000000', '0.000000'], ['ENST00000429387', '416', '217.010', '2.552618', '18.000000'], ['ENST00000381621', '823', '623.998', '0.000000', '0.000000'], ['ENST00000381623', '1958', '1758.991', '0.000000', '0.000000'], ['ENST00000565076', '814', '614.998', '0.000000', '0.000000'], ['ENST00000567028', '568', '369.005', '0.000000', '0.000000'], ['ENST00000262929', '1659', '1459.991', '0.000000', '0.000000'], ['ENST00000563840', '583', '384.005', '0.000000', '0.000000'], ['ENST00000569387', '947', '747.998', '48.705194', '1183.812133'], ['ENST00000566055', '928', '728.998', '0.176791', '4.187867'], ['ENST00000565087', '907', '707.998', '0.000000', '0.000000']]

In [5]:
import pandas as pd
df = pd.DataFrame.from_records(quant[1:], columns=quant[0])

In [6]:
df.describe()

                   Name Length EffectiveLength       TPM  NumReads
count             93109  93109           93109     93109     93109
unique            93109   8668            8665     28913     22792
top     ENST00000532502    582         383.005  0.000000  0.000000
freq                  1    315             315     63340     63133

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93109 entries, 0 to 93108
Data columns (total 5 columns):
Name               93109 non-null object
Length             93109 non-null object
EffectiveLength    93109 non-null object
TPM                93109 non-null object
NumReads           93109 non-null object
dtypes: object(5)
memory usage: 3.6+ MB

In [8]:
df.head(5)

              Name Length EffectiveLength       TPM  NumReads
0  ENST00000382410    587         388.005  0.000000  0.000000
1  ENST00000382398    655         456.001  0.000000  0.000000
2  ENST00000382388    514         315.007  0.000000  0.000000
3  ENST00000334391    373         174.012  0.000000  0.000000
4  ENST00000246105    698         499.000  0.000000  0.000000

In [13]:
df.Name = df.Name.astype(str)
df.Length = df.Length.astype(int)
df.EffectiveLength = df.EffectiveLength.astype(float)
df.TPM = df.TPM.astype(float)
df.NumReads = df.NumReads.astype(float)

In [14]:
df.head(5)

              Name  Length  EffectiveLength  TPM  NumReads
0  ENST00000382410     587          388.005  0.0       0.0
1  ENST00000382398     655          456.001  0.0       0.0
2  ENST00000382388     514          315.007  0.0       0.0
3  ENST00000334391     373          174.012  0.0       0.0
4  ENST00000246105     698          499.000  0.0       0.0

In [15]:
df.describe()

              Length  EffectiveLength           TPM      NumReads
count   93109.000000     93109.000000  93109.000000  9.310900e+04
mean     2008.924164      1810.144491     10.740100  3.579084e+02
std      2132.499138      2132.174682    201.478857  6.924434e+03
min        21.000000         9.784000      0.000000  0.000000e+00
25%       640.000000       441.002000      0.000000  0.000000e+00
50%      1344.000000      1144.991000      0.000000  0.000000e+00
75%      2640.000000      2439.991000      0.173865  6.000000e+00
max    109224.000000    109024.991000  23356.420222  1.109005e+06

In [ ]:
# Eq_classes.txt: list of equivalence classes and their information